extend static/layout

block content
    section.intro.wrapper
        h2 Instructor-Led Node.js and API Development Training
        p
            | StrongLoop offers in-person training and lectures both for private
            | organizations and for public usergroups, conferences, and workshops.
            | Our trainings cover all aspects of the API lifecycle in Node.js from
            | design and development, to monitoring, profiling, and scaling. We cover 
            a(href="nodejs.org") Node.js 
            | basics as well as the 
            a(href="http://expressjs.com/") Express 
            | and 
            a(href="http://loopback.io/") LoopBack 
            | frameworks. Our developer operations material covers all aspects of the
            | API lifecycle, including debugging, monitoring, profiling, and scaling.
    
    section.training-types.wrapper
        
        article
            h3 Private Training
            p
                | Custom courses tailored according to your company's needs. Get your
                | developers skilled using Node in specific environments or on
                | specialized technology stacks. 
                a(href="mailto:sales@strongloop.com?subject=Private%20Training") Contact us 
                | to discuss your training needs and to receive a pricing quote.
        
        article
            h3 Public Training
            p
                | StrongLoop offers 1, 2, 3 and 4 day public Node.js and API development
                | trainings co-hosted by our education partners iTexico, CA Technologies
                | and Galvanize. Check out our 
                a(href="https://strongloop.com/developers/events/") Events page 
                | to learn when the next public training event is happening near you.
        
        article.last
            h3 Workshops &amp; Conferences
            p
                | StrongLoop instructors and developer evangelists are constantly on
                | the road delivering great JavaScript, Node, and API development talks
                | and workshops at conferences and local JS and Node usergroups. Check
                | out our 
                a(href="https://strongloop.com/developers/events/") Events page 
                | to learn when we'll be in your're area!
    
    section.conversation.clear
        div.wrapper
            h3
                a(href="mailto:callback@strongloop.com?subject=Training%20Inquiry")
                    | Let's Start the Conversation...
    
    section.praise.wrapper
        
        article
            p
                | I'm highly impressed with StrongLoop's training. You'd be hard-
                | pressed to find a better value.
            cite Allen Elks
        
        article
            p
                | As a developer who is new to Node.js, I feel like I now have the tools
                | and skills to quickly start up a new API and begin coding a project.
            cite Dan Bearden
        
        article
            p
                | StrongLoop is a great open source mBaas – stable, tons of features out
                | of the box. It's my starting point of choice for API's!
            cite Lee Blazek
        
        article
            p
                | StrongLoop's training style, and their enthusiasm for Node.js gave me
                | new insight into Node in general, and revealed a few awesome new
                | tools for my toolbox. The latter half of the workshop was particularly
                | valuable from a Node DevOps perspective.
            cite Ben Overmyer
        
        article
            p
                | StrongLoop is a very clever addition to the Node.JS family! The
                | training was excellent!
            cite Daniel Hinton
        
        article
            p
                | If you want a crash course on Node and then a deep dive on LoopBack,
                | this is the course for you. The initial Node training sets you up
                | very well to grasp the LoopBack concepts, terminology and workflow.
            cite Hardi Bhatt
        
        article
            p
                | Learned a ton. A great training with instructors who are experts in
                | the field.
            cite Rob Tirserio
        
        article
            p
                | I went into the training knowing very little about Node and by the
                | end I was very confident in my abilities to use it in a very
                | productive way. The instructors were very knowledgeable and
                | engaging and good at explaining concepts very clearly.
            cite Tony Garcia
        
        article
            p
                | The Node.js training is great for developers of any background
                | looking to get their feet wet with Node and it's vast toolkit.
            cite Jesse Osborne
        
        article
            p
                | Incredible hands on training. StrongLoop makes it fun to learn.
                | Literally, they made it into a game!
            cite Dean Peterson
        
        