doctype html
html
    head
        
        include head.jade
    
    body
        
        include page-header.jade

        section.main-body.clear
            block content
                h1.
                    Welcome to StrongLoop Training!

        include page-footer.jade
