footer.clear
        nav
            div.wrapper
                section
                    h2 Company
                    ul
                        li
                            a(href="http://strongloop.com/about/") About Us
                        li
                            a(href="http://strongloop.com/about/team/") Management Team
                        li
                            a(href="http://strongloop.com/about/investors-advisors/") Investors and Advisors
                        li
                            a(href="http://strongloop.com/partners/") Partners
                        li
                            a(href="http://strongloop.com/careers/") Careers
                        li
                            a(href="http://strongloop.com/about/contact-us/") Contact us
                
                section
                    h2 Training
                    ul
                        li
                            a(href="mailto:sales@strongloop.com?subject=Private%20Training") Private Training
                        li
                            a(href="https://strongloop.com/developers/events/") Events Calendar
                        li
                            a(href="https://strongloop.com/node-js/videos/") Videos
                        li
                            a(href="https://strongloop.com/node-js/certification/") Node Certification
                
                section
                    h2 Legal
                    ul
                        li
                            a(href='https://strongloop.com/privacy-policy/') Privacy Policy
                        li
                            a(href='https://strongloop.com/terms-of-use/') Terms of Use
                        li
                            a(href='https://strongloop.com/license/') License
            div.clear

        section.copyright.clear
            div.wrapper
                p.
                    &copy; 2015 - StorngLoop, Inc. All rights reserved
        