header.main
    div.wrapper
        h1
            a(href="https://strongloop.com")
                img(src="/images/StrongLoop_IBM.png", alt="StrongLoop")
            | Training
        
        nav
            ul
                li
                    a(href="mailto:sales@strongloop.com?subject=Private%20Training") Private Training
                li
                    a(href="https://strongloop.com/developers/events/") Events Calendar
                li
                    a(href="https://strongloop.com/node-js/videos/") Videos
                li
                    a(href="https://strongloop.com/node-js/certification/") Node Certification
    
    div.clear